<h1><%= @shop.name%></h1>
<div class="container-fluid">
  <div class="row border border-primary">
    <div class="col">
      <h3>Our Boards</h3>
      <ul class="list-group">
        <% @boards.each do |b| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= b.length_str%>
          <a href="/boards/<%= b.id%>"><span class="badge badge-primary badge-pill">Details</span></a>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
