<div class="container-fluid h-100">
  <div class="row h-100" style="overflow-y:scroll">
    <h1>
    Test
    <br>
    Test
    <br>
    Test
    <br>
    Test
    <br>
    Test
    <br>
    Test
    <br>
    Test
    <br>
    Test
    <br>
    Test
    <br>
    Test
    <br>
    Test
    <br>
    Test
    <br>
    Test
    <br>
    Test
    <br>
    Test
    <br>
    Test
    <br>
    Test
    <br>
    Test
    <br>
    Test
    <br>
    Test
    <br>
    Test
    <br>
    Test
    <br>
    Test
    <br>
    Test
    <br>
    </h1>
    
  </div>
</div>